.photo-list__outer-container {
  overflow: hidden;
}

.photo-list__box {
  width: fit-content;
}

// .photo-list__inner-container {
//   display: flex;
// }

.photo-list__img-container {
  position: relative;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  // top: 0;
}

.photo-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
